$properColor: #312758;
$greenColor: #008041;
$lightGreenColor: #00a550;
$whiteColor: #fff;
$darkGray: #818e94;
$lighGrayColor: #b4b7cc;
$lightGray: rgba(49, 39, 89, 0.05);
$lightRed: #be526e;
$orange: #ee7e63;
$yellow: #ffb85b;
$borderColor: #D8D8D8;
$secondary-color: #daaa96;
$secondary-color: #daaa96;

$mainColor: #5c4683;
$lightGray : #D8D8D8;
$lightDark: #515B6A;
// old Colors
$mainBackgroundColor: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
$whiteColor: #fff;
$mainBgColor: #fafafa;
$dark: #000;
$redColor: #d81111;
$light-gray: #fbfbfb;
$main-font-color: #525c68;
$box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
$yellowColor: #ffd32a;
$notificationColor: #289fee;

$smallScreen: 650px;
$borderRadius: 8px;
$wide-screen-down: "(max-width: 1199px)";
$desktop-down: "(max-width: 991px)";
$tablet-down: 767px;
$phone-down: "(max-width: 480px)";
$small-phone-down: "(max-width: 320px)";
