@font-face {
    font-family: Poppins-Extrabold;
    src: url(/assets/fonts/Poppins-ExtraBold.ttf) format("truetype"),
        url(/assets/fonts/Poppins-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: micross;
    src: url(/assets/fonts/micross.ttf) format("truetype"), url(/assets/fonts/micross.ttf) format("truetype");
}
@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-Bold.ttf) format("truetype"),
        url(/assets/fonts/Montserrat-Bold.ttf) format("truetype");
}
