<div class="wrapper">
  <div class="wrapper__header">
    <h1 class="main-title">Exam Center List</h1>
  </div>
  <ng-container *ngIf="loading">
    <app-loader></app-loader>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="tabelContainer">
      <table class="table  ">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Image</th>
            <th>VAT number</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Student Capacity</th>
            <th>Attachement</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let center of centers | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalItems }; let i = index"
            style="cursor: pointer">
            <td>{{i + 1}}</td>
            <td>{{ center.name}}</td>
            <td><a (click)="displayAttachments([], center.name ,center.image.url)"><img *ngIf="center.image"
                  [src]="center.image.url"
                  style="height: 50px; width: 50px; border-radius: 50%; object-fit: cover;"></a>
            </td>
            <td>{{center.vat_number}}</td>
            <td>{{center.email}}</td>
            <td>{{center.mobile}}</td>
            <td>{{center.capacity}} </td>
            <td>
              <a (click)="displayAttachments(center.attachments, 'Attachments')" class="icon-style"> <i
                  class="fas fa-download"></i></a>
            </td>
            <td>
              <span *ngIf="center.status && center.status[0] && center.status[0].text === 'pending'"
                class="pending-status">
                {{center.status[0].text}}
              </span>
              <span *ngIf="center.status && center.status[0] && center.status[0].active === 'pending'"
                class="pending-status">
                {{center.status[0].text}}
              </span>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">

                <ng-container *ngIf="center.status && center.status[0] && center.status[0].text === 'pending'">
                  <button mat-menu-item (click)="approveCenter(center._id)">
                    <mat-icon>done</mat-icon>
                    <span>{{ "Approve" | translate }}</span>
                  </button>
                  <!-- <button mat-menu-item (click)="activeEmployee(element._id, false)">
                    <mat-icon>block</mat-icon>
                    <span>{{ "Deactive" | translate }}</span>
                  </button> -->
                </ng-container>
                <!-- <ng-container *ngIf="!element?.employeeInfo?.is_active">
                  <button mat-menu-item (click)="activeEmployee(element._id, true)">
                    <mat-icon>done</mat-icon>
                    <span>{{ "Active" | translate }}</span>
                  </button>
                </ng-container> -->
              </mat-menu>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls [previousLabel]="'Preview' | translate" [nextLabel]="'Next' | translate"
      (pageChange)="getPage($event)">
    </pagination-controls>
  </ng-container>

</div>