<div class="auth-container">
  <div class="auth-card">
    <div class="auth-card-header">
      <a [routerLink]="['/dash']">
        <img src="./assets/images/moe-logo-en.png" class="auth-card-header__logo">
      </a>
      <h1 class="auth-card-header__title">Login for Emsat <br>with ease of mind
      </h1>
      <P class="auth-card-header__text">{{'digitize_and_automate' | translate}} <br> {{'as_per_country' | translate}}
      </P>
    </div>


    <div class="auth-card-body">
      <ng-container>
        <form class="form-container" [formGroup]="formGroup">
          <div class="form-group">
            <label class="label">{{'email' | translate}}</label>
            <div class="input-wrapper">
              <object type="image/svg+xml" data="./assets/images/user.svg">
                <img src="./assets/images/user.svg">
              </object>
              <input type="text" formControlName="email" placeholder="test@gmail.com"
                class=" form-control login-userId-input" autofocus>
            </div>
          </div>
          <div class="form-group">
            <label class="label">{{'password' | translate}}</label>
            <div class="input-wrapper">
              <object type="image/svg+xml" data="./assets/images/key.svg">
                <img src="./assets/images/key.svg">
              </object>
              <input class="form-control password-input" formControlName="password"
                [type]="!showPassword? 'password' : 'text'" placeholder="*************">
              <ng-container *ngIf="!showPassword">
                <a class="show-password" (click)="showPasswordHandler()">
                  <i class="fas fa-eye"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="showPassword">
                <a class="hide-password" (click)="showPasswordHandler()">
                  <i class="fas fa-eye-slash"></i> </a>
              </ng-container>
            </div>
          </div>
          <div class="auth-card-submit">
            <app-submit-btn [loading]="loading" [title]="'log_in' | translate" class="authButton"
              (isClickedEvent)="submit()">
            </app-submit-btn>
          </div>
          <div class="register-user">
            <h6 style="margin-bottom: 1rem;">{{'Tester and not registered yet?' | translate}} <a
                [routerLink]="['/auth', 'register-tester']" class="create-account">{{'create_an_account' |
                translate}}</a>
            </h6>
            <h6>{{'Center and not registered yet?' | translate}} <a [routerLink]="['/auth', 'register-center']"
                class="create-account">{{'create_an_account' | translate}}</a>
            </h6>
          </div>
        </form>
      </ng-container>

    </div>
  </div>
  <div class="auth-bg" [ngStyle]="{'background-image': 'url(' + bgPhoto + ')'}"></div>

  <!-- <div class="language-container">
    <a (click)="switchLang()">{{'languageName' | translate}}</a>
  </div> -->
</div>