<div class="wrapper">
    <div class="wrapper__header">
        <h1 class="main-title">Center Exams</h1>
    </div>
    <ng-container *ngIf="loading">
        <app-loader></app-loader>
    </ng-container>

    <ng-container *ngIf="!loading">
        <div class="tabelContainer">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Exam Name</th>
                        <th>Dates</th>
                        <th>Criteria</th>

                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="selectedExamHandler(exam)"
                        *ngFor="let exam of centerExams | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalItems }; let i = index"
                        style="cursor: pointer">
                        <td>{{i + 1}}</td>
                        <td>{{ exam.name}}</td>
                        <td>
                            <a (click)="displayDutrations(exam.durations, 'Exam Dates')" class="icon-style"> <i
                                    class="far fa-calendar-alt"></i></a>
                        </td>
                        <td>
                            {{exam.criteria.name}}
                        </td>
                        <td>{{ exam.created_at | date: "medium"}}</td>
                        <td>{{ exam.updated_at | date: "medium"}}</td>

                        <td> <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editCriteria(criteria)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ "edit" | translate }}</span>
                                </button>
                                <button mat-menu-item (click)="deleteCriteria(criteria)">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{ "delete" | translate }}</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls [previousLabel]="'Preview' | translate" [nextLabel]="'Next' | translate"
            (pageChange)="getPage($event)">
        </pagination-controls>
    </ng-container>



    <div class="wrapper__header">
        <h1 class="main-title">Exam Applicants <span style="color: #daaa96;" *ngIf="selectedExam && selectedExam.name">
                {{selectedExam.name}}</span></h1>
    </div>
    <ng-container *ngIf="loadingSub">
        <app-loader></app-loader>
    </ng-container>
    <ng-container *ngIf="!loadingSub">
        <div class="tabelContainer">
            <ng-container *ngIf="!loadingSub && examApplicants&& examApplicants.length > 0">
                <table class="table  ">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Exam</th>
                            <th>Date</th>
                            <th>Times</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let applicant of examApplicants | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalItems }; let i = index"
                            style="cursor: pointer">
                            <td>{{i + 1}}</td>
                            <td>{{ applicant.applicant.name}}</td>
                            <td>{{ applicant.exam.name}}</td>

                            <td>{{ applicant.duration.date}}</td>
                            <td>From : <span *ngIf="applicant && applicant.duration && applicant.duration.time">{{
                                    applicant.duration.time.from}}</span> To: <span
                                    *ngIf="applicant && applicant.duration">{{applicant.duration.time.to}}</span></td>
                            <td>
                                <span
                                    *ngIf="applicant.status && applicant.status[0] && applicant.status[0].text === 'pending'"
                                    class="pending-status">
                                    Upcoming
                                </span>
                                <span
                                    *ngIf="applicant.status && applicant.status[0] && applicant.status[0].active === 'pending'"
                                    class="pending-status">
                                    {{applicant.status[0].text}}
                                </span>
                            </td>

                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editSubCriteria(subCriteria)">
                                    <mat-icon>done</mat-icon>
                                    <span>{{ "Show" | translate }}</span>
                                </button>
                                <button mat-menu-item (click)="deleteSubCriteria(subCriteria)">
                                    <mat-icon>done</mat-icon>
                                    <span>{{ "Not Show" | translate }}</span>
                                </button>
                            </mat-menu>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls [previousLabel]="'Preview' | translate" [nextLabel]="'Next' | translate"
                    (pageChange)="getPage($event)">
                </pagination-controls>
            </ng-container>
        </div>
    </ng-container>

</div>