<ng-container *ngIf="file">
    <div class="upload-file-container">
        <div style="margin:0rem 1rem; "><strong>#{{number }}</strong></div>
        <!-- <div class="file-icon">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </div> -->
        <div class="file-info">
            <h6 class="file-info__title">{{file.name}}</h6>
            <p class="file-info__size">{{file.fileSize}}</p>
        </div>
        <div class="file-action">
            <button class="remove" (click)="deleteFileHandler()"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</ng-container>